* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    .header .header__logo {
        max-width: 35%;
        padding: 15px 0 15px 0;
    }
}

.ubication {
    background-color:#EAEAEA;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    color: #353535;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    .ubication .ubication__text {
        color: #353535;
        font-weight: 500;
    }
}

.reservations {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    .reservations .reservations__title {
        padding: 0 42px 15px 42px;
        font-size: 24px;
        width: 75%;
        text-align: center;
        font-weight: 700;
    .reservations .reservations__subtitle {
        padding: 10px 34px 35px 34px;
        font-size: 18px;
        text-align: center;
        max-width: 100%;
        font-weight: 300;
        color: #353535;
    .reservations .reservations__btn {
    background: linear-gradient(-4deg, #9356DC, #FF79DA);
    border-radius: 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    .reservations__btn:hover {
        filter:brightness(1.4)
                }       
            }  
        }  
    }
}

.functionality {
    display: flex;
    flex-direction: column;
    .funtionality .funtionality__btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .funtionality .funtionality__btn {
            display: flex;
            gap: 30px;    
            padding: 20px 70px 20px 20px;
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            margin: 30px 30px 30px 70px;
        .funtionality .icone {
            color: #7E7E7E;
            
            }
        .funtionality .icone:hover {
            color: #9356DC;
            }        
        }
    }
}


.btn:hover {
    background-color: #ff79ff;
}


h2 {
    padding: 30px 0 0 80px;
}


.btn4:hover {
    filter:brightness(1.4);
}
.numero {
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -30px;
    font-weight: 500;
    font-size: 14px;
    color: #F7F7F7;
    background: #9356DC;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;

}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;

}

.cards {
    padding: 20px 0 20px 0;
}

.card-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
}

.restaurants img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    width: 346px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-txt h3 {
    padding-bottom: 5px;

}

.fa-heart {
    font-size: 25px;
    font-weight: 100;
}

.cuadro {
    position: relative;
    top: -240px;
    left: 242px;
    right: 100px;
    bottom: 100px;
    background: #99E2D0;
    width: 25%;
    color: #008766;
    text-align: center;
    padding: 7px 2px 7px 2px;
    border-radius: 2px;
    font-weight: 500;
}


.card-subtitle {
    color: #000000;
    font-weight: 300;
    font-size: 17px;
    font-family: roboto;
}

.note {
    object-fit: cover;
}

footer {
    background: #353535;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    font-weight: 350;

}

.footer-logo {
    filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(165deg) brightness(109%) contrast(93%);
    width: 20%;
    padding-bottom: 15px;

}

footer .footer-logo .footer-logo2 {
    max-width: 20%;
    padding: 10px 0 10px 5px;
    font-size: 100px;
}

.footer-logo2 {
    display: none;
    filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(165deg) brightness(109%) contrast(93%);
    width: 70%;
}

.proposer {
    display: flex;
    padding: 5px;
    gap: 10px;

}

.proposer1 {
    gap: 15px;
}