* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    .header .header__logo {
        max-width: 35%;
        padding: 15px 0 15px 0;
    }
}

.ubication {
    background-color:#EAEAEA;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    color: #353535;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    .ubication .ubication__text {
        color: #353535;
        font-weight: 500;
    }
}

.reservations {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    .reservations .reservations__title {
        padding: 0 42px 15px 42px;
        font-size: 24px;
        width: 75%;
        text-align: center;
        font-weight: 700;
    .reservations .reservations__subtitle {
        padding: 10px 34px 35px 34px;
        font-size: 18px;
        text-align: center;
        max-width: 100%;
        font-weight: 300;
        color: #353535;
    .reservations .reservations__btn {
    background: linear-gradient(-4deg, #9356DC, #FF79DA);
    border-radius: 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    .reservations__btn:hover {
        filter:brightness(1.4)
                }       
            }  
        }  
    }
}

.functionality {
    display: flex;
    flex-direction: column;
    .funtionality .funtionality__btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .funtionality .funtionality__btn {
            display: flex;
            gap: 30px;    
            padding: 20px 70px 20px 20px;
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            margin: 30px 30px 30px 70px;
        .funtionality .icone {
            color: #7E7E7E;
            
            }
        .funtionality .icone:hover {
            color: #9356DC;
            }        
        }
    }
}


.btn:hover {
    background-color: #ff79ff;
}


h2 {
    padding: 30px 0 0 80px;
}


.btn4:hover {
    filter:brightness(1.4);
}
.numero {
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -30px;
    font-weight: 500;
    font-size: 14px;
    color: #F7F7F7;
    background: #9356DC;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;

}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;

}

.cards {
    padding: 20px 0 20px 0;
}

.card-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
}

.restaurants img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    width: 346px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-txt h3 {
    padding-bottom: 5px;

}

.fa-heart {
    font-size: 25px;
    font-weight: 100;
}

.cuadro {
    position: relative;
    top: -240px;
    left: 242px;
    right: 100px;
    bottom: 100px;
    background: #99E2D0;
    width: 25%;
    color: #008766;
    text-align: center;
    padding: 7px 2px 7px 2px;
    border-radius: 2px;
    font-weight: 500;
}


.card-subtitle {
    color: #000000;
    font-weight: 300;
    font-size: 17px;
    font-family: roboto;
}

.note {
    object-fit: cover;
}

footer {
    background: #353535;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    font-weight: 350;

}

.footer-logo {
    filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(165deg) brightness(109%) contrast(93%);
    width: 20%;
    padding-bottom: 15px;

}

footer .footer-logo .footer-logo2 {
    max-width: 20%;
    padding: 10px 0 10px 5px;
    font-size: 100px;
}

.footer-logo2 {
    display: none;
    filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(165deg) brightness(109%) contrast(93%);
    width: 70%;
}

.proposer {
    display: flex;
    padding: 5px;
    gap: 10px;

}

.proposer1 {
    gap: 15px;
}

.header-menu {
    background-color: #F6F6F6;
    display: flex;
    padding: 20px;
    gap: 100px;
}

.logo-menu {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.image-menu {
    width: 100%;
    height: 275px;
    top: 63px;

}

.fa-arrow-left {
    font-size: 20px;
}

.palette {
    background-color: #EAEAEA;

}

.image-menu {
    object-fit: cover;
}
.menu-content {
    background-color: #EAEAEA;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: -40px;
    position: relative;

}
.title-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}

.title-restaurant h2 {
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    padding: 30px;
}

.menu-content h3 {
    font-weight: 200;
    padding: 0 0 10px 10px;
    font-weight: 300;
    font-size: 16px;
}

.plat-entrées {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.btn3 {
    background-color: white;
    display: flex;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 15px 0 #0000001A;
    transition: margin-right 1s linear;
}


.btn3:hover {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: -20px;
}

.part-vert:hover {
    opacity: 0;
}

.part-vert {
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 15px 10px;
    transition: opacity 1s linear;
   
}

.part-blanche {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.title-plat {
    padding: 0 0 5px 10px;
    font-weight: 500;
    font-size: 18px;

}

.subtitle-content {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.subtitle-plat {
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    padding-bottom: 0;


}

.prix {
    font-size: 15px;
    font-weight: 700;

}

.cuadro2 {
    width: 40px;
    border: 2px solid #99E2D0;
    margin-left: 10px;
 
}

.lien {
    color: black;
}

.btn4 {
    background: linear-gradient(-4deg, #9356DC, #FF79DA);
    border-radius: 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 15px 1px;
    margin: auto;
    margin-top: 22px;
 
}

.plats {
    margin-top: 30px;
}

.prueba {
    background-color: brown;
    color: white;
}
.part-vert .fa-check {
display: flex;
text-align: center;
padding: 2px 5px;
border-radius: 50%;
border: 1px solid #F2F2F2;
color: #99E2D0;
background-color: white;
font-size: 13px;

}

.animation1 {
    animation-name: animation;
    animation-duration: 400ms;
    animation-delay: 100ms;
    animation-timing-function: ease-in-out;
}

.animation2 {
    animation-name: animation;
    animation-duration: 400ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
}

.animation3 {
    animation-name: animation;
    animation-duration: 400ms;
    animation-delay: 550ms;
    animation-timing-function: ease-in-out;
}

.loader {
    width: 100%;
    height: 44.8px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    overflow: hidden;
    
  }
  .loader::after {
    content: '';  
    width: 0%;
    height: 44.8px;
    background-color: #FFF;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animFw 3s ease-in-out;
  }

  .accueil {
    opacity: 1;
    animation-name: loader;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
}
  

.heart-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.heart-icon .empty {
    position: absolute;
}

.heart-icon .full {
    position: absolute;
    opacity: 0;
}

.heart-icon .empty:hover {
    opacity: 0;
}
.heart-icon .full:hover {
    opacity: 1;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header-menu .fa-solid {
    color: black;
}

@keyframes loader {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
    
}

  @keyframes animFw {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
      

@keyframes animation {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(50%);
        opacity: 1;
    }
    
}

@media (max-width: 2000px) and (min-width: 768px) {
    .header .header__logo {
        width: 15%;
    }
    
    
    .reservations {
        display: flex;
        flex-direction: column;
    }

    .reservations h2 {
        font-weight: 700;
        font-size: 40px;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-restaurant {
        padding: 20px 50px;
        justify-content: center;
        width: 490px;
    }

    .lien-card img {
        width: 490px;
    }

    .cuadro {
        left: 350px;
    }


    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 0 10px 0;

    }

    .footer-logo {
        display: none;
    }

    .footer-logo2 {
        display: block;
        width: 40%;
        padding-left: 50px;
        }



    
}